﻿<p class="text-info">
    Manage your products.
</p>

<table class="table table-bordered">
    <tr>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th></th>
    </tr>
    <tr ng-repeat="product in store.products | orderBy:'name' | filter:search">
        <td>
            <input type="text" ng-model="product.description" ng-change="change(product)" class="input-small"></td>
        <td>
            <input type="number" ng-model="product.price" ng-change="change(product)" min="0" ng-required class="input-mini"></td>
        <td>
            <input type="number" ng-model="product.quantity" ng-change="change(product)" min="0" ng-required class="input-mini"></td>
        <td>{{product.quantity * product.price | currency}}</td>
        <td>[<a href ng-click="store.removeItem($index)">X</a>]</td>
    </tr>
    <tr>
        <td><a href ng-click="store.addItem()" class="btn btn-small">add product</a></td>
        <td></td>
        <td>Total:</td>
        <td>{{store.total() | currency}}</td>
        <td></td>
    </tr>

</table>
