﻿<h4 class="text-info">
    Products have been bought!
</h4>
<p class="text-info">
    Thanks for shopping.
</p>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">

            <!-- items -->
            <table class="table table-bordered">

                <!-- header -->
                <tr class="well">
                    <td><b>Description</b></td>
                    <td class="tdCenter"><b>Quantity</b></td>
                    <td class="tdRight"><b>Price</b></td>
                    <td />
                </tr>

                <!-- empty cart message -->
                <tr ng-hide="cart.getTotalCount() > 0" >
                    <td class="tdCenter" colspan="4">
                        Your cart is empty.
                    </td>
                </tr>

                <!-- cart items -->
                <tr ng-repeat="product in cart.products | orderBy:'name'">
                    <td>
                       {{product.description}}
                    </td>
                    <td class="tdCenter">
                        <p>{{product.quantity}}</p>
                    </td>
                    <td class="tdRight">{{product.price * product.quantity | currency}}</td>
                </tr>

                <!-- footer -->
                <tr class="well">
                    <td><b>Total</b></td>
                    <td class="tdCenter"><b>{{cart.getTotalCount()}}</b></td>
                    <td class="tdRight"><b>{{cart.getTotalPrice() | currency}}</b></td>
                    <td />
                </tr>
            </table>
        </div>
              <div class="span4">
            <p class="text-info">
                <button class="btn btn-block" ng-click="ok()">
                    OK
                </button>
            </p>
        </div>
    </div>
</div>
