﻿<p class="text-info">
    Welcome to the shop.
</p>

<p>
    Search:
    <input ng-model="search">
</p>

<table class="table table-bordered">
    <tr class="well">
        <td class="tdRight" colspan="4">
            <button class="btn btn-default" popover="{{dynamicPopover}}" popover-title="{{dynamicPopoverTitle}}" ng-click="open()">Buy now!</button>

            <a href="" title="shopping cart" ng-disabled="cart.getTotalCount() < 1">
                <i class="icon-shopping-cart" />
                <b>{{cart.getTotalCount()}}</b> Products, <b>{{cart.getTotalPrice() | currency}}</b>
            </a>
        </td>
    </tr>
    <tr>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
    </tr>
    <tr ng-repeat="product in store.products | orderBy:'name' | filter:search">
        <td>{{product.description}}</td>
        <td class="">{{product.price | currency}}</td>
        <td class="">{{product.quantity}}</td>
        <td class="tdCenter"><a href="" ng-click="cartService.addItem(product.description, product.price, +1)">add</a> | <a href="" ng-click="cart.addItem(product.description, product.price, -1)">remove</a></td>
    </tr>
    <tr class="well">
        <td class="tdRight" colspan="4">
            <button class="btn btn-default" popover="{{dynamicPopover}}" popover-title="{{dynamicPopoverTitle}}"">Buy now!</button>

            <a href="" title="shopping cart" ng-disabled="cart.getTotalCount() < 1">
                <i class="icon-shopping-cart" />
                <b>{{cart.getTotalCount()}}</b> Products, <b>{{cart.getTotalPrice() | currency}}</b>
            </a>
        </td>
    </tr>
</table>
